.charts {
    align-items: center;
}

#article {
    width: 80%;
    margin: auto;
    text-align: center;
}

p {
    text-align: left;
    font-size: 18px;
}

.timelineheader {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
    align-items: center;
}

hr {
    margin: 0;
    padding: 0;
}

.player {
    margin: auto;
    padding: 10px;
}

h2,
h3,
h4,
p,
a {
    font-family: 'Spectral', sans-serif;
}

h1 {
    padding: 10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 50px;
}

#playerheader {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 5px;
    border-left: 5px solid #333;
    border-right: 5px solid #333;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    padding: 10px;
}

img {
    margin: 20px 0;
    padding: 10px;
}

.imagecredit {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.pullquote {
    width: 50%;
    margin: 30px auto;
    padding: 10px;
    border-left: 5px solid #333;
    border-right: 5px solid #333;
}

.quote {
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

.timeline {
    width: 100%;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    overflow-x: auto;
}

ul {
    position: relative;
    display: flex;
    min-width: max-content;
    padding: 0;
    margin: 0;
    list-style: none;
}

.date {
    font-weight: bold;
}

.point {
    position: relative;
    align-items: center;
    margin: 0 40px;
}