/*
MY COLOR PALETTE
Light Blue - #3f84e5
White - #f0e2e7
Red - #b20d30
Dark Gold - #c17817
Green - #3f784c
*/

body {
    background-color: #3f784c;
    text-align: center;
}

button {
    color: #f0e2e7;
    background-color: #b20d30;
    font-size: 30px;
    border: none;
    width: 50%;
    padding: 10px;
    margin-top: 25px;
    border-radius: 10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
}

h1 {
    color: #f0e2e7;
    font-weight: 600;
    font-size: 75px;
    font-family: 'League Spartan', sans-serif;
}

h2 {
    color: #f0e2e7;
    font-family: 'Spectral', sans-serif;
    font-weight: 450;
    font-size: 40px;
}

h3 {
    color: #f0e2e7;
    font-weight: 450;
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Spectral', sans-serif;
}

.headings {
    padding-left: 1%;
    font-weight: bold;
}

.menu,
footer {
    font-family: 'Spectral', sans-serif;
    font-weight: 450;
    font-size: 200%;
    background-color: #c17817;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

a {
    color: #f0e2e7;
    font-family: 'Spectral', sans-serif;
}

a:hover {
    color: #3f84e5;
}

.page-one {
    margin-top: 1%;
}

#headshot {
    width: 75%;
}

hr {
    height: 5px;
    background-color: #000000;
    border: none;
    opacity: 100;
    padding-left: 1%;
}

h4 {
    font-family: 'Spectral', sans-serif;
    font-weight: 750;
    font-size: 30px;
    text-align: left;
    color: #c17817;
}

.Sections {
    padding-left: 1%;
    text-align: left;
    width: 100%;
}

p,
li {
    font-family: 'Spectral', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #f0e2e7
}