/*
MY COLOR PALETTE
Light Blue - #3f84e5
Whiteish Pink - #f0e2e7
Red - #b20d30
Dark Gold - #c17817
Green - #3f784c
*/
body {
    background-color: #3f784c;
    text-align: center;
}

button {
    background-color: #f0e2e7;
    color: #c17817;
    font-size: 30px;
    border: none;
    width: 200px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
}

button:hover {
    background-color: #3f84e5;
    color: #b20d30;
}

h1,
h2,
button {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

button{
    font-weight: 500;
}