@media screen {

    #headshot {
        width: 300px;
        float: left;
        margin: 30px;
    }

    body {
        font-family: Arial, sans-serif;
    }

    #contact {
        font-weight: bold;
        color: black;
        font-size: 20px;
    }

    a:hover {
        color: red;
    }

    #info {
        width: 700px;
        margin: auto;
    }

    #footer {
        background-color: black;
        padding: 50px;
        width: 100%;
        position: fixed;
    }
}